<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            <title>Rodney Mullen | fan page by Ted Martins</title>
        {% endblock %}
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
    <header>
        <div class="links">
            <a href="./">About</a>
            <a href="./videos">Videos</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}
    
    <script src="./assets/js/year.js"></script>
</body>

</html>